<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.finalproject.mapper.BookingMapper">

    <resultMap id = "bookingMap" type = "com.example.finalproject.dto.BookingDTO">
        <id column = "bo.id" property="id" />
        <result column="bo.seat_num" property="seatNum"/>
        <result column="bo.state" property="state"/>
        <result column="bo.price" property="price"/>
        <association property="memberDTO" resultMap="memberMap"/>
        <association property="nonMemberDTO" resultMap="nonMemberMap"/>
        <association property="payDTO" resultMap="payMap"/>
        <association property="scheduleDTO" resultMap="scheduleMap"/>
        <association property="routeDTO" resultMap="routeMap"/>
        <association property="ageDTO" resultMap="ageMap"/>
    </resultMap>

    <resultMap id="nonMemberMap" type="com.example.finalproject.dto.NonMemberDTO">
        <id column = "nm.id" property="id" />
        <result column="nm.phone" property="phone"/>
        <result column="nm.birth" property="birth"/>
    </resultMap>

    <resultMap id="memberMap" type="com.example.finalproject.dto.MemberDTO">
        <id column = "m.id" property="id" />
        <result column="m.login_id" property="loginId"/>
        <result column="m.name" property="name"/>
        <result column="m.password" property="password"/>
        <result column="m.phone" property="phone"/>
        <result column="m.role" property="role"/>
        <result column="m.email" property="email"/>
        <result column="m.birth" property="birth"/>
    </resultMap>

    <resultMap id="payMap" type="com.example.finalproject.dto.PayDTO">
        <result column="p.id" property="id" />
        <result column="p.card_number" property="cardNumber" />
        <result column="p.card_expiration" property="cardExpiration" />
        <result column="p.card_password" property="cardPassword" />
        <result column="p.birth" property="birth" />
        <result column="p.totalprice" property="totalPrice" />
    </resultMap>

    <resultMap id="ageMap" type="com.example.finalproject.dto.AgeDTO">
        <id column = "a.id" property="id" />
        <result column="a.name" property="name" />
    </resultMap>


    <resultMap id="scheduleMap" type="com.example.finalproject.dto.ScheduleDTO">
        <result column="s.id" property="id" />
        <result column="s.start_time" property="startTime" />
        <result column="s.end_time" property="endTime" />
        <result column="s.price" property="price" />
        <association property="routeDTO" resultMap="routeMap" />
        <association property="busDTO" resultMap="busMap" />
    </resultMap>

    <resultMap id="routeMap" type="com.example.finalproject.dto.RouteDTO">
        <result column="r.id" property="id" />
        <result column="r.travel_time" property="travelTime" />
        <association property="startTerminal" resultMap="startTerminalMap" />
        <association property="endTerminal" resultMap="endTerminalMap" />
    </resultMap>

    <resultMap id="startTerminalMap" type="com.example.finalproject.dto.TerminalDTO">
        <result column="st.id" property="id" />
        <result column="st.name" property="name" />
        <result column="st.location" property="location" />
    </resultMap>

    <resultMap id="endTerminalMap" type="com.example.finalproject.dto.TerminalDTO">
        <result column="et.id" property="id" />
        <result column="et.name" property="name" />
        <result column="et.location" property="location" />
    </resultMap>

    <resultMap id="busMap" type="com.example.finalproject.dto.BusDTO">
        <result column="b.id" property="id" />
        <result column="b.bus_num" property="busNum" />
        <result column="b.grade" property="grade" />
        <association property="companyDTO" resultMap="companyMap" />
    </resultMap>

    <resultMap id="companyMap" type="com.example.finalproject.dto.CompanyDTO">
        <result column="c.id" property="id" />
        <result column="c.name" property="name" />
        <result column="c.phone" property="phone" />
    </resultMap>



    <insert id="save">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT seq_member.nextval FROM DUAL
        </selectKey>
        insert into booking
        values(#{id},#{payId},#{memberId},#{nonMemberId},#{scheduleId},#{routeId},#{ageId},#{seatNum},#{state},#{price})
    </insert>

    <select id="findAll" resultType="com.example.finalproject.domain.Booking">
        select * from booking
    </select>

    <update id="changeBookingState">
        update booking set
            state = #{state}
        where id = #{id}
    </update>

    <select id="findAllDTO" resultMap="bookingMap">
        SELECT bo.id as "bo.id", bo.seat_num as "bo.seat_num",bo.state as "bo.state",bo.price as "bo.price", m.login_id as "m.login_id", m.name as "m.name", m.password as "m.password", m.phone as "m.phone", m.role as "m.role", m.email as "m.email", m.birth as "m.birth",
               p.id as "p.id", p.card_number as "p.card_number", p.card_expiration as "p.card_expiration", p.card_password as "p.card_password", p.birth as "p.birth", p.totalprice as "p.totalprice",
               a.id as "a.id", a.name as "a.name",
               s.id as "s.id", s.start_time as "s.start_time", s.end_time as "s.end_time", s.price as "s.price",
               r.id as "r.id", r.travel_time as "r.travel_time",
               st.id as "st.id", st.name as "st.name", st.location as "st.location", et.id as "et.id", et.name as "et.name", et.location as "et.location",
               b.id as "b.id", b.bus_num as "b.bus_num", b.grade as "b.grade",
               c.id as "c.id", c.name as "c.name", c.phone as "c.phone"
        FROM booking bo, pay p, age a, schedule s, route r, terminal st, terminal et, bus b, company c, member m
        WHERE r.id = s.route_id AND b.id = s.bus_id AND b.company_id = c.id AND r.start_id = st.id AND r.end_id = et.id AND bo.pay_id = p.id AND bo.schedule_id = s.id AND bo.age_id = a.id AND bo.member_id =m.id
    </select>


    <update id="update" parameterType="com.example.finalproject.domain.Booking">
        update booking set
                           id = #{id},
                           pay_id = #{payId},
                           member_id = #{memberId},
                           non_member_id = #{nonMemberId},
                           schedule_id = #{scheduleId},
                           route_id = #{routeId},
                           age_id = #{ageId},
                           seat_num = #{seatNum},
                           state = #{state},
                           price = #{price}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from booking
        where id = #{id}
    </delete>

    <select id="findByBookingId" resultType="com.example.finalproject.domain.Booking">
        select * from booking
        where id = #{id}
    </select>

    <select id="findByNonMemberId" resultType="com.example.finalproject.domain.Booking">
        select * from booking
        where non_member_id = #{id}
    </select>

    <select id="findByPayId" parameterType="com.example.finalproject.domain.Booking" resultMap="bookingMap">
        SELECT bo.id as "bo.id", bo.seat_num as "bo.seat_num",bo.state as "bo.state",bo.price as "bo.price",
               p.id as "p.id", p.card_number as "p.card_number", p.card_expiration as "p.card_expiration", p.card_password as "p.card_password", p.birth as "p.birth", p.totalprice as "p.totalprice",
               a.id as "a.id", a.name as "a.name",
               s.id as "s.id", s.start_time as "s.start_time", s.end_time as "s.end_time", s.price as "s.price",
               r.id as "r.id", r.travel_time as "r.travel_time",
               st.id as "st.id", st.name as "st.name", st.location as "st.location", et.id as "et.id", et.name as "et.name", et.location as "et.location",
               b.id as "b.id", b.bus_num as "b.bus_num", b.grade as "b.grade",
               c.id as "c.id", c.name as "c.name", c.phone as "c.phone"
        FROM booking bo, pay p, age a, schedule s, route r, terminal st, terminal et, bus b, company c
        WHERE r.id = s.route_id AND b.id = s.bus_id AND b.company_id = c.id AND r.start_id = st.id AND r.end_id = et.id AND bo.pay_id = p.id AND bo.schedule_id = s.id AND bo.age_id = a.id
          AND p.id = #{payId}
    </select>

    <select id="findByLoginId" parameterType="String" resultMap="bookingMap">
        SELECT bo.id as "bo.id", bo.seat_num as "bo.seat_num",bo.state as "bo.state",bo.price as "bo.price", m.login_id as "m.login_id", m.name as "m.name", m.password as "m.password", m.phone as "m.phone", m.role as "m.role", m.email as "m.email", m.birth as "m.birth",
               p.id as "p.id", p.card_number as "p.card_number", p.card_expiration as "p.card_expiration", p.card_password as "p.card_password", p.birth as "p.birth", p.totalprice as "p.totalprice",
               a.id as "a.id", a.name as "a.name",
               s.id as "s.id", s.start_time as "s.start_time", s.end_time as "s.end_time", s.price as "s.price",
               r.id as "r.id", r.travel_time as "r.travel_time",
               st.id as "st.id", st.name as "st.name", st.location as "st.location", et.id as "et.id", et.name as "et.name", et.location as "et.location",
               b.id as "b.id", b.bus_num as "b.bus_num", b.grade as "b.grade",
               c.id as "c.id", c.name as "c.name", c.phone as "c.phone"
        FROM booking bo, pay p, age a, schedule s, route r, terminal st, terminal et, bus b, company c, member m
        WHERE r.id = s.route_id AND b.id = s.bus_id AND b.company_id = c.id AND r.start_id = st.id AND r.end_id = et.id AND bo.pay_id = p.id AND bo.schedule_id = s.id AND bo.age_id = a.id
          AND bo.member_id =m.id AND bo.state = '결제완료' AND m.login_id = #{loginId}
        order by s.start_time
    </select>

    <select id="findByNonMemId" parameterType="int" resultMap="bookingMap">
        SELECT bo.id as "bo.id", bo.seat_num as "bo.seat_num",bo.state as "bo.state",bo.price as "bo.price", nm.id as "nm.id", nm.phone as "nm.phone", nm.birth as "nm.birth",
                p.id as "p.id", p.card_number as "p.card_number", p.card_expiration as "p.card_expiration", p.card_password as "p.card_password", p.birth as "p.birth", p.totalprice as "p.totalprice",
                a.id as "a.id", a.name as "a.name",
                s.id as "s.id", s.start_time as "s.start_time", s.end_time as "s.end_time", s.price as "s.price",
                r.id as "r.id", r.travel_time as "r.travel_time",
                st.id as "st.id", st.name as "st.name", st.location as "st.location", et.id as "et.id", et.name as "et.name", et.location as "et.location",
                b.id as "b.id", b.bus_num as "b.bus_num", b.grade as "b.grade",
                c.id as "c.id", c.name as "c.name", c.phone as "c.phone"
                FROM booking bo, pay p, age a, schedule s, route r, terminal st, terminal et, bus b, company c, non_member nm
                    WHERE r.id = s.route_id AND b.id = s.bus_id AND b.company_id = c.id AND r.start_id = st.id AND r.end_id = et.id AND bo.pay_id = p.id AND bo.schedule_id = s.id AND bo.age_id = a.id
                    AND bo.non_member_id = nm.id AND non_member_id = #{nonMemberId}
    </select>
    <select id="findCancelByLoginId" parameterType="String" resultMap="bookingMap">
        SELECT bo.id as "bo.id", bo.seat_num as "bo.seat_num",bo.state as "bo.state",bo.price as "bo.price", m.login_id as "m.login_id",
                p.id as "p.id", p.card_number as "p.card_number", p.card_expiration as "p.card_expiration", p.card_password as "p.card_password", p.birth as "p.birth", p.totalprice as "p.totalprice",
                a.id as "a.id", a.name as "a.name",
                s.id as "s.id", s.start_time as "s.start_time", s.end_time as "s.end_time", s.price as "s.price",
                r.id as "r.id", r.travel_time as "r.travel_time",
                st.id as "st.id", st.name as "st.name", st.location as "st.location", et.id as "et.id", et.name as "et.name", et.location as "et.location",
                b.id as "b.id", b.bus_num as "b.bus_num", b.grade as "b.grade",
                c.id as "c.id", c.name as "c.name", c.phone as "c.phone"
                    FROM booking bo, pay p, age a, schedule s, route r, terminal st, terminal et, bus b, company c, member m
                        WHERE r.id = s.route_id AND b.id = s.bus_id AND b.company_id = c.id AND r.start_id = st.id AND r.end_id = et.id AND bo.pay_id = p.id AND bo.schedule_id = s.id AND bo.age_id = a.id
                        AND bo.member_id =m.id AND bo.state = '예매취소' AND m.login_id = #{loginId}
                        order by s.start_time
    </select>

    <select id="findSeatByScheduledId" resultType="com.example.finalproject.domain.Booking">
        select * from booking
            where schedule_id = #{scheduleId}
    </select>
</mapper>