<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.finalproject.mapper.LostMapper">

    <insert id="save" parameterType="com.example.finalproject.domain.Lost">
        insert into
        lost values(seq_lost.nextval,#{title},#{findPlace},#{contents},#{findDate},#{fileName})
    </insert>

    <delete id="delete">
        delete from lost where id = #{id}
    </delete>

    <update id="update" parameterType="com.example.finalproject.domain.Lost">
        update lost set
        title = #{title},
        find_place = #{findPlace},
        contents = #{contents},
        find_date = #{findDate},
        file_name = #{fileName}
        where id = #{id}
    </update>

<!--    <resultMap id="fileUploadResponseMap" type="com.example.finalproject.domain.FileUploadResponse">-->
<!--        <result column="fileName" property="fileName"/>-->
<!--    </resultMap>-->

    <select id="findById" resultType="com.example.finalproject.domain.Lost">
        SELECT * FROM lost where id = #{id}
    </select>

    <select id="findAll" resultType="com.example.finalproject.domain.Lost">
        SELECT * FROM
                     <![CDATA[
                     (SELECT *
                        FROM lost
                            WHERE ROWNUM <= 4
                                ORDER BY find_date desc)]]>
    </select>
    
</mapper>