<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.finalproject.mapper.MemberMapper">

    <insert id="save">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT seq_member.nextval FROM DUAL
        </selectKey>
        INSERT into member (id, login_id, name, password, phone, role, email, birth)
        VALUES (#{id},#{loginId},#{name},#{password},#{phone},#{role},#{email},#{birth})
    </insert>

    <delete id="delete">
        DELETE FROM MEMBER WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE member SET
        name = #{name},
        phone = #{phone},
        email = #{email}
        WHERE login_id = #{loginId}
    </update>

    <select id="findById" resultType="Member">
        SELECT * FROM member WHERE id = #{id}
    </select>

    <select id="findByLoginId" resultType="Member">
        SELECT * FROM member WHERE login_id = #{loginId}
    </select>

    <select id="findAllMember" resultType="Member">
        SELECT * FROM member
        WHERE role IN 'MEMBER'
    </select>
</mapper>