<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.finalproject.mapper.NonMemberMapper">

    <insert id="insert">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT seq_non_member.nextval FROM DUAL
        </selectKey>
        INSERT into non_member (id, phone, birth)
        VALUES (#{id},#{phone}, #{birth})
    </insert>

    <select id="getList" resultType="com.example.finalproject.domain.NonMember">
        select * from non_member
    </select>

    <update id="update">
        update non_member
        set phone = #{phone},
            birth = #{birth}
        where id =#{id}
    </update>

    <delete id="delete">
        delete from non_member where id = #{id}
    </delete>

    <select id="get" parameterType="com.example.finalproject.domain.NonMember">
        select id from non_member where phone = #{phone}
    </select>

</mapper>
