<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.finalproject.mapper.RouteMapper">

    <select id="findAll" resultType="com.example.finalproject.domain.Route">
        select * from route
    </select>

    <insert id="save">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT seq_route.nextval FROM DUAL
        </selectKey>
        INSERT into route (id, start_id, end_id, travel_time)
        VALUES (#{id},#{startId}, #{endId}, #{travelTime})
    </insert>

    <update id="update" parameterType="com.example.finalproject.domain.Route">
        update route set
         start_id=#{startId},
         end_id=#{endId},
         travel_time=#{travelTime}
        where id=#{id}
    </update>

    <delete id="delete" parameterType="com.example.finalproject.domain.Route">
        delete from route
        where id=#{id}
    </delete>

    <select id="find" resultType="com.example.finalproject.domain.Route" parameterType="int">
        select end_id
        from route
        where start_id = #{startId}
    </select>

    <select id="findAllByStartTerminalId" resultType="Route">
        SELECT * FROM route WHERE start_id = #{start_id}
    </select>

</mapper>